</div>
</div>
</div><!-- /.container -->

<br><br><br>
<hr>
<p class="text-center">Vegetable Delivery System</p>
    

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="module">
    import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
  </script>
<script src="/js/main.js"></script>

</body>
</html>